@import "header.css";
@import "demo.css";
@import "about.css";
@import "features.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #F6FAFD;
}

.container {
    max-width: 980px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

